<custom-modal (close)="closeDialog()">
  <div class="hr-route-modal-block">
    <form [formGroup]="form"
          (ngSubmit)="submit(tableAction.SAVE)"
          class="hr-route-form"
          fxLayout="column">
      <mat-form-field class="main_curator_field">
        <label class="person-dialog-form" fxLayout="row" (click)="searchPerson()">
          <input matInput
                 [value]="element.fullName"
                 formControlName="person"
                 type="text"
                 placeholder="{{ 'DASHBOARD.TABLE.PLACEHOLDERS.MODELS.HR_USER.PERSON' | translate }}">
          <mat-icon class="action-btn person-form__button search-person-btn" matSuffix>
            search
          </mat-icon>
        </label>
        <mat-error *ngIf="form.invalid">{{ 'DASHBOARD.TABLE.WARNINGS.REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <button mat-raised-button type='submit'>
        <span>
          {{ 'DASHBOARD.TABLE.PLACEHOLDERS.SAVE_BTN' | translate }}
        </span>
        <mat-icon class="action-btn"
                  matSuffix>
          save
        </mat-icon>
      </button>
    </form>
  </div>
</custom-modal>
