<mat-list role="list">
  <mat-list-item>
    <h1>{{ 'DASHBOARD.WELCOME_PAGE.TITLE' | translate }}</h1>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon>bookmark_border</mat-icon>
    <span>{{ 'DASHBOARD.WELCOME_PAGE.DESCRIPTION_FIRST' | translate:nextYear }}</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon>bookmark_border</mat-icon>
    <span>{{ 'DASHBOARD.WELCOME_PAGE.DESCRIPTION_SECOND' | translate }}</span>
  </mat-list-item>
</mat-list>
